registry=https://comms-886194799418.d.codeartifact.eu-west-2.amazonaws.com/npm/npm-mirror/
//comms-886194799418.d.codeartifact.eu-west-2.amazonaws.com/npm/npm-mirror/:always-auth=true
@comms:registry=https://comms-886194799418.d.codeartifact.eu-west-2.amazonaws.com/npm/private-staging/
//comms-886194799418.d.codeartifact.eu-west-2.amazonaws.com/npm/private-staging/:always-auth=true
strict-peer-dependencies=false
link-workspace-packages = true
