name: Acceptance stage

on:
  workflow_call:
    secrets:
      APP_PEM_FILE:
        required: true
      APP_CLIENT_ID:
        required: true
    inputs:
      target_environment:
        required: true
        type: string
      target_account_group:
        required: true
        type: string
      target_release_version:
        required: false
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  acceptance-tests:
    name: Acceptance tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      # Calls out to the nhs-notify-internal repo.
      # The nhs-notify-internal repo will run the tests
      # setup in ./.github/actions/acceptance-tests/action.yaml
      - name: Trigger Acceptance Tests
        shell: bash
        env:
          APP_PEM_FILE: ${{ secrets.APP_PEM_FILE }}
          APP_CLIENT_ID: ${{ secrets.APP_CLIENT_ID }}
          TARGET_ENVIRONMENT: ${{ inputs.target_environment }}
          TARGET_ACCOUNT_GROUP: ${{ inputs.target_account_group }}
        run: |
          .github/scripts/dispatch_internal_repo_workflow.sh \
            --infraRepoName "nhs-notify-sms-nudge" \
            --overrideProjectName "nhs" \
            --releaseVersion "${{ inputs.target_release_version || github.head_ref || github.ref_name }}" \
            --targetWorkflow "dispatch-contextual-tests-dynamic-env.yaml" \
            --targetEnvironment "$TARGET_ENVIRONMENT" \
            --targetAccountGroup "$TARGET_ACCOUNT_GROUP" \
            --targetComponent "nudge"
